@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
//@import "../../node_modules/bootstrap/scss/maps.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";
//@import "../../node_modules/bootstrap/scss/utilities.scss";

html,
body {
  height: 100%;
  //overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 86px;
  background-color: rgb(248, 249, 250);
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.modal {
  padding-left: 0px !important;
}

.modal-width-50-percent {
  width: 50%;
  max-width: none !important;
}

.modal-width-75-percent {
  width: 75%;
  max-width: none !important;
}

.modal-width-90-percent {
  width: 90%;
  max-width: none !important;
}

@include media-breakpoint-down(lg) {
  .modal-width-50-percent {
    width: 93vw;
    max-width: none !important;
  }

  .modal-width-75-percent {
    width: 93vw;
    max-width: none !important;
  }

  .modal-width-90-percent {
    width: 93vw;
    max-width: none !important;
  }
}

.required::after {
  font-weight: bold;
  color: red;
  content: " *";
}

#login-panel {
  width: 350px;
}

@media (max-width: 390px) {
  #login-panel {
    width: 100%;
  }
}

.justify-text {
  text-align: justify;
}

.bg-warning-subtle {
  // .bg-success
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;

  --bs-bg-opacity: 0.20;
}

.bg-success-subtle {
  // .bg-success
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;

  // .text-dark
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;

  // .bg-opacity-25
  --bs-bg-opacity: 0.20;
}

.light-green-background {
  background-color: rgb(209, 231, 221);
}

.z-10000 {
  z-index: 10000 !important;
}

.react-select .react-select-control {
  padding: 0px;
  border-radius: $input-border-radius;
  border-color: $gray-500;
}

.react-select .react-select-control:focus-within {
  border-color: $gray-500;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.react-select .react-select-control.is-valid {
  padding-right: 25px;
  border-color: $form-feedback-valid-color;
}

.react-select .react-select-control.is-valid:hover {
  border-color: $form-feedback-valid-color;
}

.react-select .react-select-control.is-valid:focus-within {
  border-color: $form-feedback-valid-color;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.react-select .react-select-control.is-invalid {
  padding-right: 25px;
  border-color: $form-feedback-invalid-color;
}

.react-select .react-select-control.is-invalid:hover {
  border-color: $form-feedback-invalid-color;
}

.react-select .react-select-control.is-invalid:focus-within {
  border-color: $form-feedback-invalid-color;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.react-select .react-select-placeholder {
  color: $gray-900;
}

.react-select .react-select-menu {
  z-index: 10000 !important;
}

.react-select .react-select-option {
  padding: 0px 14px 0px;
}

.floating-info-label {
  font-size: 13px;
  opacity: 0.65;
}

.floating-info-text {
  line-height: 1.25;
}

.react-datepicker-wrapper {
  width: 100%;
}

.min-75 {
  min-width: 75px;
}

@media (max-width: 449.98px) {
  .w-xs-100 {
    width: 100% !important;
  }
}

@media (max-width: 767.98px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

.form-floating input+label {
  font-size: 14px;
  color: $input-placeholder-color;
}